body {
    background-color: #282c34;
    background-image: url('https://images.unsplash.com/photo-1521334884684-d80222895322');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #145182; /* Changed to white for better contrast */
    font-family: Arial, sans-serif;
    text-align: center;
    transition: background-color 0.5s ease;
    .color{
        color: #282c34;
        font-size: medium;
    }
    
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #007bff;
    color: #ffffff;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    transform: scale(0.98);
}

#scoreboard {
    margin-bottom: 20px;
}

#result {
    margin: 20px;
    font-size: 1.5em;
}

#emoji {
    font-size: 2em;
    margin-top: 10px;
}

#history {
    margin-top: 20px;
}

#historyList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#historyList li {
    background: rgba(255, 255, 255, 0.8); /* Slightly transparent for better readability */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    color: black;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
